cmake-build-debug/
.DS_Store
.idea/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
Testing/
cmake_install.cmake
libmlib.a
tests/CMakeFiles/
tests/CTestTestfile.cmake
tests/Makefile
tests/cmake_install.cmake
.cmake/
build.ninja
install_manifest.txt
libmlib.so
mlib.pc
tests/mlist